$defaultFont: 'Arial';
$defaultColorCheckbox: #E9EAF0;
$mainBlue: #007bff;
$bodyBackground: #F5F6FA;
$defaultColor: #7E8FA4;
$colorIcons: #73849A;
$lightBlue: #E5F1FF;
$alertNotification: #FC5A5A;
$tableColorIcons: #6C7B8A;
$boxColor: #6160E9;
$success: #1EAF41;
$dotsColor: #B5B5BE;
$successText: #21BA46;
$successBackground: #E2F6E2;
$backgroundWarning: #FDF1E5;
$colorWarning: #FF881B;
$primaryColor: #0091FF;
$secondaryBlue: #32C5FF;
$thirdBlue: #3EACEE;
$linkBlue: #007BFF;
$extraBlack: #282835;
$mainTransition: .2s all ease;
$defaultPadding: 0 20px;
$defaultBorderRadius: .3rem;
$colorViolet: #B620E0;
$mainCollapse: #B2BECD;
$orderIcon: #65757b;
$itemCount: #212529;
$sideItemCount: #1EAF41;
$sideItemCountTwo: #FC5A5A;
$borderColor: #D8DCE6;
